.container {
    align-content: center;
    background-color: rgb(207, 49, 28);

}

.card {
    background-image: linear-gradient(to right, rgb(202, 238, 44), rgba(18, 21, 44, 0.897));
    margin: 10px;
}

.card-title {
    color: white;
    background-color: rgba(248, 241, 241, 0.979);
    padding: 10px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

button {
    margin-left: 65px;
    color: red;
}

.card-img-top {
    padding: 25px;
}

#links {
    color: blue;
}