@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&family=Poppins&display=swap');

.projectcontainer {
    align-items: center;
    color: white;
    font-family: 'Montserrat',sans-serif;
    
}